{% extends 'base.html' %} {% block content %}
{% load static %}

    <div class="col-md-6 pt-4">

        <div class="card mb-4 clearfix">

            <h2 class=""card-header>About Us / Contacts</h2>
            <div class="card-body">
                <table style="border-collapse: collapse; width: 100%;" border="1" class="table table-bordered">
                    <tbody>
                    <tr>
                        <td style="width: 30.3993%;">
                            <div class="d-inline-block width-500" style="max-width: 500px;">

                                <img src="//ucanr.edu/sites/NOW/files/386625display.jpg" class="img-fluid"
                                     alt="Image from iOS (30)" title="Image from iOS (30)">

                            </div>
                        </td>
                        <td style="width: 69.6007%;">
                            <p><strong>Kadie Britt</strong></p>
                            <p>Program Coordinator</p>
                            <p><span class="gI"><span data-hovercard-id="kadieb@ucr.edu" data-hovercard-owner-id="85">kadieb@ucr.edu</span></span>
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 30.3993%;">
                            <div class="d-inline-block width-700" style="max-width: 700px;">

                                <img src="//ucanr.edu/sites/NOW/files/386627display.jpg" class="img-fluid"
                                     alt="Houston_Wilson_3xx - Copy - small" title="Houston_Wilson_3xx - Copy - small">

                            </div>
                        </td>
                        <td style="width: 69.6007%;">
                            <p><strong><span class="gI">Houston Wilson</span></strong></p>
                            <p><span class="gI"><span data-hovercard-id="kadieb@ucr.edu" data-hovercard-owner-id="85">Assoc. Cooperative Extension Specialist</span></span>
                            </p>
                            <p><span class="gI"><span data-hovercard-id="kadieb@ucr.edu" data-hovercard-owner-id="85">Dept. Entomology, UC Riverside</span></span>
                            </p>
                            <p><span class="gI"><span data-hovercard-id="kadieb@ucr.edu" data-hovercard-owner-id="85">Kearney Agricultural Research and Extension Center (Parlier, CA)</span></span>
                            </p>
                            <p><a href="http://treecrops.ucr.edu/" target="_blank" rel="noopener"><span class="gI"><span
                                    data-hovercard-id="kadieb@ucr.edu" data-hovercard-owner-id="85">http://treecrops.ucr.edu/</span></span></a>
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 30.3993%;">
                            <div class="d-inline-block width-300" style="max-width: 300px;">

                                <img src="//ucanr.edu/sites/NOW/files/386626display.jpg" class="img-fluid"
                                     alt="Burks_2010_12_20_web" title="Burks_2010_12_20_web">

                            </div>
                        </td>
                        <td style="width: 69.6007%;">
                            <p><strong><span class="gI">Chuck Burks</span></strong></p>
                            <p><span class="gI"><span data-hovercard-id="kadieb@ucr.edu" data-hovercard-owner-id="85">Research Entomologist</span></span>
                            </p>
                            <p><span class="gI"><span data-hovercard-id="kadieb@ucr.edu" data-hovercard-owner-id="85">USDA ARS</span></span>
                            </p>
                            <p>
                                <a href="https://www.ars.usda.gov/pacific-west-area/parlier/sjvasc/cpq/people/charles-burks/"
                                   target="_blank" rel="noopener"><span class="gI"><span
                                        data-hovercard-id="kadieb@ucr.edu" data-hovercard-owner-id="85">https://www.ars.usda.gov/pacific-west-area/parlier/sjvasc/cpq/people/charles-burks/</span></span></a>
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 30.3993%;">
                            <div class="d-inline-block width-500" style="max-width: 500px;">

                                <img src="//ucanr.edu/sites/NOW/files/386628display.jpg" class="img-fluid"
                                     alt="Siegel (Medium)" title="Siegel (Medium)">

                            </div>
                        </td>
                        <td style="width: 69.6007%;">
                            <p><strong><span class="gI">Joel Siegel</span></strong></p>
                            <p><span class="gI"><span data-hovercard-id="kadieb@ucr.edu" data-hovercard-owner-id="85">Research Entomologist</span></span>
                            </p>
                            <p><span class="gI"><span data-hovercard-id="kadieb@ucr.edu" data-hovercard-owner-id="85">USDA ARS</span></span>
                            </p>
                            <p>
                                <a href="https://www.ars.usda.gov/pacific-west-area/parlier/sjvasc/cpq/people/joel-siegel"
                                   target="_blank" rel="noopener"><span class="gI"><span
                                        data-hovercard-id="kadieb@ucr.edu" data-hovercard-owner-id="85">https://www.ars.usda.gov/pacific-west-area/parlier/sjvasc/cpq/people/joel-siegel</span></span></a>
                            </p>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>


    </div>

{% endblock content %}