{% extends 'base.html' %} {% block content %}
    {% load static %}
    <div class="row">

                                                <div class="asset-content col-md-12  pt-4">

                                                        <!-- asset #138922: text (START) -->

    <div class="px-asset-standard-card-only mb-4 clearfix">

                <h2>In-Person NOW Areawide IPM Meeting, May 4, 2023</h2>
            <p><a href="//ucanr.edu/sites/NOW/files/388930.pdf" class="GoogleAnalytics_Trackable" title="Meeting Agenda, May 4, 2023">
                            Meeting Agenda, May 4, 2023
                        </a></p>
    </div>

                                                        <!-- asset #138922: text (END) -->

                                                        <!-- asset #138923: text (START) -->

    <div class="px-asset-standard-card-only mb-4 clearfix">

                <h2>In-Person NOW Areawide IPM Meeting, August 1, 2023</h2>
            <p><a href="//ucanr.edu/sites/NOW/files/388931.pdf" class="GoogleAnalytics_Trackable" title="Meeting Agenda NOW areawide August 1 2023">
                            Meeting Agenda NOW areawide August 1 2023
                        </a></p>
<p><a href="//ucanr.edu/sites/NOW/files/388932.pdf" class="GoogleAnalytics_Trackable" title="Chuck Burks - Monitoring NOW in the Presence of MD">
                            Chuck Burks - Monitoring NOW in the Presence of MD
                        </a></p>
<p><a href="//ucanr.edu/sites/NOW/files/388933.pdf" class="GoogleAnalytics_Trackable" title="Houston Wilson - NOW Monitoring Phenology Tool">
                            Houston Wilson - NOW Monitoring Phenology Tool
                        </a></p>
<p><a href="//ucanr.edu/sites/NOW/files/388934.pdf" class="GoogleAnalytics_Trackable" title="Houston Wilson - NOW SIT Update">
                            Houston Wilson - NOW SIT Update
                        </a></p>
<p><a href="//ucanr.edu/sites/NOW/files/388935.pdf" class="GoogleAnalytics_Trackable" title="Joel Siegel - NOW Insecticide APPLICATION and TIMING">
                            Joel Siegel - NOW Insecticide APPLICATION and TIMING
                        </a></p>
    </div>

                                                        <!-- asset #138923: text (END) -->

                                                </div>

                                    </div>
{% endblock content %}