{% extends 'base.html' %} {% block content %}
{% load static %}

<div class="col-md-6 pt-4">


    <div class="card mb-4 clearfix">

        <h2 class="card-header">In-Person NOW Areawide IPM Meeting, May 4, 2023</h2>
        <div class="card-body">
            <p><a href="//ucanr.edu/sites/NOW/files/388930.pdf" class="GoogleAnalytics_Trackable"
                  title="Meeting Agenda, May 4, 2023">
                Meeting Agenda, May 4, 2023
            </a></p>
        </div>
    </div>


    <div class="card mb-4 clearfix">

        <h2 class="card-header">In-Person NOW Areawide IPM Meeting, August 1, 2023</h2>
        <div class="card-body">
            <p><a href="//ucanr.edu/sites/NOW/files/388931.pdf" class="GoogleAnalytics_Trackable"
                  title="Meeting Agenda NOW areawide August 1 2023">
                Meeting Agenda NOW areawide August 1 2023
            </a></p>
            <p><a href="//ucanr.edu/sites/NOW/files/388932.pdf" class="GoogleAnalytics_Trackable"
                  title="Chuck Burks - Monitoring NOW in the Presence of MD">
                Chuck Burks - Monitoring NOW in the Presence of MD
            </a></p>
            <p><a href="//ucanr.edu/sites/NOW/files/388933.pdf" class="GoogleAnalytics_Trackable"
                  title="Houston Wilson - NOW Monitoring Phenology Tool">
                Houston Wilson - NOW Monitoring Phenology Tool
            </a></p>
            <p><a href="//ucanr.edu/sites/NOW/files/388934.pdf" class="GoogleAnalytics_Trackable"
                  title="Houston Wilson - NOW SIT Update">
                Houston Wilson - NOW SIT Update
            </a></p>
            <p><a href="//ucanr.edu/sites/NOW/files/388935.pdf" class="GoogleAnalytics_Trackable"
                  title="Joel Siegel - NOW Insecticide APPLICATION and TIMING">
                Joel Siegel - NOW Insecticide APPLICATION and TIMING
            </a></p>
        </div>
    </div>

</div>

{% endblock content %}