{% extends 'base.html' %} {% block content %}
    {% load static %}
<div class="col-md-6 pt-4">
    <div class="card mb-4 bg-light">
        <img src="https://ucanr.edu/sites/NOW/files/386620display.jpg" class="card-img-top" alt="...">
        <h5 class="card-header">Welcome!</h5>
        <div class="card-body">
            <p>Area-wide integrated pest management (IPM) program to improve control of navel orangeworm (NOW) in west Fresno County.</p>
        </div>
    </div>
</div>

{% endblock content %}