{% extends 'base.html' %} {% block content %}
    {% load static %}
    <div class="row">

                                                <div class="asset-content col-md-12  pt-4">

                                                        <!-- asset #138090: text (START) -->

    <div class="px-asset-standard-card-only mb-4 clearfix">

                <h2>Estimate NOW Phenology</h2>
            <p>DRAFT TOOL!</p>
<p><a href="https://ucanr-igis.shinyapps.io/noworm/">https://ucanr-igis.shinyapps.io/noworm/</a></p>
    </div>

                                                        <!-- asset #138090: text (END) -->

                                                </div>

                                    </div>
{% endblock content %}