{% extends 'base.html' %} {% block content %}
{% load static %}

<div class="col-md-6 pt-4">

    <div class="card mb-4 clearfix">
        <h2 class="card-header">UC IPM - Navel Orangeworm</h2>
        <div class="card-body">
            <p><a href="https://ipm.ucanr.edu/agriculture/almond/navel-orangeworm/" target="_blank" rel="noopener">Almonds</a>
            </p>
            <p><a href="https://ipm.ucanr.edu/agriculture/pistachio/navel-orangeworm/" target="_blank" rel="noopener">Pistachios</a>
            </p>
        </div>
    </div>
    <div class="card mb-4 clearfix">
        <h2 class="card-header">CDFA Navel Orangeworm Program</h2>
        <div class="card-body">
            <p><a href="https://www.cdfa.ca.gov/plant/ipc/nowp/index.html" target="_blank" rel="noopener">https://www.cdfa.ca.gov/plant/ipc/nowp/index.html</a>
            </p>
        </div>
    </div>

</div>
{% endblock content %}