{% extends 'base.html' %} {% block content %}
    {% load static %}
    <div class="row">

                                                <div class="asset-content col-md-9  pt-4">

                                                        <!-- asset #138093: text (START) -->

    <div class="px-asset-standard-card-only mb-4 clearfix">
        <p>UC IPM - Navel Orangeworm</p>
<p><a href="https://ipm.ucanr.edu/agriculture/almond/navel-orangeworm/" target="_blank" rel="noopener">Almonds</a></p>
<p><a href="https://ipm.ucanr.edu/agriculture/pistachio/navel-orangeworm/" target="_blank" rel="noopener">Pistachios</a></p>
<p>&nbsp;</p>
<p>CDFA Navel Orangeworm Program</p>
<p><a href="https://www.cdfa.ca.gov/plant/ipc/nowp/index.html" target="_blank" rel="noopener">https://www.cdfa.ca.gov/plant/ipc/nowp/index.html</a></p>
    </div>

                                                        <!-- asset #138093: text (END) -->

                                                </div>

                                    </div>
{% endblock content %}